
.gradle/5.1.1/executionHistory/executionHistory.bin
.gradle/5.1.1/executionHistory/executionHistory.lock
.gradle/5.1.1/fileHashes/fileHashes.bin
.gradle/5.1.1/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/caches/build_file_checksums.ser
.idea/caches/gradle_models.ser
.idea/gradle.xml
.idea/workspace.xml
app/app.iml
